<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a routerLink="/"  class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <span class="fs-4">APP USERS</span>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLink="/" class="nav-link text-secondary">
              <i class="bi bi-house-door d-block text-center" style="font-size: 2em; color: #ffffff;"></i>
              Home
            </a>
          </li>
          <li>
            <a routerLink="/app/modules/users"class="nav-link text-secondary">
              <i class="bi bi-people d-block text-center" style="font-size: 2em; color: #ffffff;"></i>
              Users
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
